.title{
  font-family: 'Architects Daughter', cursive;
  background-color: #546d5a;
  text-align: center;
  color: #f9f6ef;

}

aside{
  background-color: #d6d6d6;
  font-family: 'Architects Daughter', cursive;
  display: inline-block;
  float: left;
  margin-left: 20px;

}

.mainAside{
  background-color: #d6d6d6;
  font-family: 'Architects Daughter', cursive;
  display: inline-block;
  float: bottom;
  margin-left: 20px;

}

.mainbody{
  background-image: url(../images/background.jpg);
  background-size: 100%;
}

  .play {
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  background-size: 100%;
  background-color: #ff9681;
  color: #ff9681;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 50px;
}

table{
  margin-left: 20px;
}

td{
    width:150px;
    height: 150px;
    border-color: gray;
    border-style: solid;
    list-style-image: center;
}

td img{
    max-width: 140px;
    height: auto;
    width: auto;
}
